{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "18.x"
    },
    "import/resolver": {
      "typescript": {},
      "import/extensions": ["ts", "tsx", "js", "jsx"]
    }
  },
  "extends": [
    "eslint:recommended",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 120,
        "endOfLine": "auto",
        "singleQuote": false,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "es5"
      }
    ],
    "import/order": [
      1,
      {
        "groups": ["builtin", "external", "internal", "sibling", "parent", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "antd/**",
            "group": "external",
            "position": "after"
          },
          {
            "pattern": "@/**",
            "group": "internal",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "object-shorthand": "error",
    "no-console": "warn"
  }
}
